{% extends 'base.html' %}


{% block title %}Home{% endblock title  %}

{% block content %} 
<h1>Home</h1>
<p>
    stay organized and productive. With full CRUD (Create, Read, Update, Delete) support for your tasks, you can easily add new tasks, track your progress, update details, or remove completed ones—all with just a few clicks. Whether you're managing your personal goals, work assignments, or grocery lists, this app provides the flexibility and simplicity you need. Stay on top of your day, boost your productivity, and never forget a task again. Try it now and take control of your to-do list today!
</p>
{% endblock content %}